<div class="my-5">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                {{singleProd.pname}}
            </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <p>
                You have purchsed {{singleProd.pname}} and 
                <strong> Status</strong> {{singleProd.pstatus}}
            </p>
        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-between">
            <button mat-raised-button color="primary" (click)="onUpdateStatus('In-Progress')">In-Progress</button>
            <button mat-raised-button color="primary" (click)="onUpdateStatus('Dispatched')">Dispatched</button>
            <button mat-raised-button color="primary" (click)="onUpdateStatus('Delivered')">Delivered</button>
        </mat-card-actions>
    </mat-card>
</div>
